<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.gr.java_conf.ko_aoki.common.mapper.MDeptMapper" >

<sql id="selectLevel1to2DeptListSQL" >
	SELECT A.DEPT_ID AS DEPT_ID_1, A.DEPT_NM AS DEPT_NM_1 ,B.DEPT_ID AS DEPT_ID_2, B.DEPT_NM AS DEPT_NM_2
	FROM M_DEPT A, M_DEPT B
	WHERE
	A.DEPT_ID = B.P_DEPT_ID
	AND
	(A.P_DEPT_ID = '9999')
	AND
	A.START_DATE <![CDATA[<=]]> #{targetDate} AND
	A.END_DATE <![CDATA[>=]]> #{targetDate} AND
	B.START_DATE <![CDATA[<=]]> #{targetDate} AND
	B.END_DATE <![CDATA[>=]]> #{targetDate}
    <if test="pDeptId != null ">
	AND
	A.DEPT_ID LIKE #{pDeptId}
	</if>
    <if test="pDeptNm != null ">
	AND
	A.DEPT_NM LIKE #{pDeptNm}
	</if>
    <if test="deptId != null ">
	AND
	B.DEPT_ID LIKE #{deptId}
	</if>
    <if test="deptNm != null ">
	AND
	B.DEPT_NM LIKE #{deptNm}
	</if>
	UNION ALL
	SELECT '' AS DEPT_ID_1, '' AS DEPT_NM_1 ,DEPT_ID AS DEPT_ID_2, DEPT_NM AS DEPT_NM_2
	FROM M_DEPT
	WHERE
	P_DEPT_ID = '9999'
	AND
	START_DATE <![CDATA[<=]]> #{targetDate} AND
	END_DATE <![CDATA[>=]]> #{targetDate}
    <if test="deptId != null ">
	AND
	DEPT_ID LIKE #{deptId}
	</if>
    <if test="deptNm != null ">
	AND
	DEPT_NM LIKE #{deptNm}
	</if>
</sql>

<select id="selectCountLevel1to2Dept" resultType="int" parameterType="map">
SELECT
    count(*) as cnt
FROM
(
    <include refid="selectLevel1to2DeptListSQL" />
)
</select>

<select id="selectLevel1to2DeptList" resultType="jp.gr.java_conf.ko_aoki.common.bean.code.CodeDeptBean" parameterType="map">
SELECT
	DEPT_ID_1 as pDeptID,
	DEPT_NM_1 as pDeptNm,
	DEPT_ID_2 as deptId,
	DEPT_NM_2 as deptNm
FROM
(
SELECT  ROW_NUMBER() OVER (ORDER BY DEPT_ID_1,DEPT_ID_2) RNO, A.* FROM
	(
    <include refid="selectLevel1to2DeptListSQL" />
	) A
)
WHERE RNO BETWEEN #{page.startNum} AND #{page.endNum}
ORDER BY DEPT_ID_1,DEPT_ID_2
</select>

  <resultMap id="BaseResultMap" type="jp.gr.java_conf.ko_aoki.common.domain.MDept" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    <id column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <id column="START_DATE" property="startDate" jdbcType="CHAR" />
    <result column="DEPT_NM" property="deptNm" jdbcType="VARCHAR" />
    <result column="P_DEPT_ID" property="pDeptId" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="CHAR" />
    <result column="VERSION_NO" property="versionNo" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    DEPT_ID, START_DATE, DEPT_NM, P_DEPT_ID, END_DATE, VERSION_NO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDeptExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SADB.M_DEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDeptKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    select
    <include refid="Base_Column_List" />
    from SADB.M_DEPT
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
      and START_DATE = #{startDate,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDeptKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    delete from SADB.M_DEPT
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
      and START_DATE = #{startDate,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDeptExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    delete from SADB.M_DEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDept" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    insert into SADB.M_DEPT (DEPT_ID, START_DATE, DEPT_NM,
      P_DEPT_ID, END_DATE, VERSION_NO
      )
    values (#{deptId,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR}, #{deptNm,jdbcType=VARCHAR},
      #{pDeptId,jdbcType=VARCHAR}, #{endDate,jdbcType=CHAR}, #{versionNo,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDept" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    insert into SADB.M_DEPT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="deptNm != null" >
        DEPT_NM,
      </if>
      <if test="pDeptId != null" >
        P_DEPT_ID,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="versionNo != null" >
        VERSION_NO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=CHAR},
      </if>
      <if test="deptNm != null" >
        #{deptNm,jdbcType=VARCHAR},
      </if>
      <if test="pDeptId != null" >
        #{pDeptId,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=CHAR},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDeptExample" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    select count(*) from SADB.M_DEPT
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    update SADB.M_DEPT
    <set >
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null" >
        START_DATE = #{record.startDate,jdbcType=CHAR},
      </if>
      <if test="record.deptNm != null" >
        DEPT_NM = #{record.deptNm,jdbcType=VARCHAR},
      </if>
      <if test="record.pDeptId != null" >
        P_DEPT_ID = #{record.pDeptId,jdbcType=VARCHAR},
      </if>
      <if test="record.endDate != null" >
        END_DATE = #{record.endDate,jdbcType=CHAR},
      </if>
      <if test="record.versionNo != null" >
        VERSION_NO = #{record.versionNo,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    update SADB.M_DEPT
    set DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      START_DATE = #{record.startDate,jdbcType=CHAR},
      DEPT_NM = #{record.deptNm,jdbcType=VARCHAR},
      P_DEPT_ID = #{record.pDeptId,jdbcType=VARCHAR},
      END_DATE = #{record.endDate,jdbcType=CHAR},
      VERSION_NO = #{record.versionNo,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDept" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    update SADB.M_DEPT
    <set >
      <if test="deptNm != null" >
        DEPT_NM = #{deptNm,jdbcType=VARCHAR},
      </if>
      <if test="pDeptId != null" >
        P_DEPT_ID = #{pDeptId,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=CHAR},
      </if>
      <if test="versionNo != null" >
        VERSION_NO = #{versionNo,jdbcType=DECIMAL},
      </if>
    </set>
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
      and START_DATE = #{startDate,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="jp.gr.java_conf.ko_aoki.common.domain.MDept" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Dec 11 22:21:06 JST 2013.
    -->
    update SADB.M_DEPT
    set DEPT_NM = #{deptNm,jdbcType=VARCHAR},
      P_DEPT_ID = #{pDeptId,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=CHAR},
      VERSION_NO = #{versionNo,jdbcType=DECIMAL}
    where DEPT_ID = #{deptId,jdbcType=VARCHAR}
      and START_DATE = #{startDate,jdbcType=CHAR}
  </update>
</mapper>